<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto 01 - Kill Monster</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h2>Player</h2>
                <div class="life-bar">
                    <div class="life" :class="{danger: playerLife < 20}" :style="{width: playerLife + '%'}"></div>
                </div>
                <div>{{ playerLife }} %</div>
            </div>
            <div class="score">
                <h2>Monster</h2>
                <div class="life-bar">
                    <div class="life" :class="{danger: monsterLife < 20}" :style="{width: monsterLife + '%'}"></div>
                </div>
                <div>{{ monsterLife }} %</div>
            </div>
        </div>
        <div v-if="hasResult" class="panel result">
            <div v-if="monsterLife == 0" class="win">You win!</div>
            <div v-else="playerLife == 0" class="lose">You lose!</div>
        </div>
        <div class="panel buttons">
            <template v-if="running">
                <button @click="attack(false)" class="btn attack">Normal attack</button>
                <button @click="attack(true)" class="btn special">Special atack</button>
                <button @click="healAndHurt" class="btn heal">Heal</button>
                <button @click="running = false" class="btn give-up">Give up</button>
            </template>
            <button v-else @click="startGame" class="btn new-game">New game</button>
        </div>

        <div v-if="logs.length" class="panel logs">
            <ul>
                <li v-for="log in logs" :class="log.cls" class="log">
                    {{ log.text }}
                </li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>