@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

body {
    background-color: #272727;
}

#app {
    display: flex;
    flex-direction: column;
}

.panel {
    margin: 10px;
    padding: 20px;
    background-color: #333;
    box-shadow: 10px 5px 5px rgba(22, 49, 9, 0.301);
}

/* Points section */

.scores {
    display: flex;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h2 {
    font-size: 1.2rem;
}

.life-bar {
    width: 80%;
    height: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
}

.life-bar .life {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: rgb(23, 82, 23);
}

.life-bar .life.danger {
    background-color: rgb(148, 29, 29);
}

/* Result Section */

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* Buttons */

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    font-family: 'Press Start 2P', cursive;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    text-transform: uppercase;
    border-style: none;
    cursor: pointer;
}

/* Logs */

.logs ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logs ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
    padding: 3px 0;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.player {
    color: #175217;
}

.monster {
    color: rgb(148, 29, 29);
}